<!DOCTYPE html>
<html>
 <head>
   <title>C Bears Data Visualizer</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel='stylesheet' href='styles/main.css'>
   <link rel="shortcut icon" href="favicon.png">

</head>
</body>

<!--Bootstrap Nav bar-->
<nav class="navbar sticky-top bg-secondary navbar-expand-lg navbar-dark" id="navbar">
  <img src="favicon.png">
  <button type="button" class="m-2 navbar-brand btn btn-dark active" href="#">C Bears Data Visualizer</button>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <form action="/movePageHome" method="POST">
         <button type="submit" class="m-2 nav-link btn btn-dark active">Home <span class="sr-only">(current)</span></button>
        </form>
      </li>
      <li class="nav-item active">
        <form action="/movePageMap" method="POST">
         <button type="submit" class="m-2 nav-link btn btn-dark active">Map</button>
        </form>
      </li>
      <li class="nav-item active">
        <form action="/movePageChart" method="POST">
         <button type="submit" class="m-2 nav-link btn btn-dark active">Charts</button>
        </form>
      </li>
      <li class="nav-item active">
        <form action="/movePageData" method="POST">
         <button type="submit" class="m-2 nav-link btn btn-dark active">Data</button>
        </form>
      </li>
    </ul>
      <form class="form-inline my-2 my-lg-0" style="float: right;">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button type="submit" class="btn btn-outline-secondary my-2 my-sm-0">Search</button>
      </form>
  </div>
</nav>

<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="favicon.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <div id='map'></div>
    </div>
    <div class="carousel-item">
      <canvas id="myChart"></canvas>
    </div>
  </div>
  <a class="left carousel-control" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->

<!--Google Maps Div-->
<h1>Welcome to our interative data visualizaer!</h1>

<!-- <div id='map'></div>
<div class="legend dropdown show">
    <a class="btn btn-secondary dropdown-toggle active" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      City Select
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">City 1</a>
      <a class="dropdown-item" href="#">City 2</a>
      <a class="dropdown-item" href="#">City 3</a>
    </div>
    <a class="btn btn-secondary dropdown-toggle active" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      State Select
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">State 1</a>
      <a class="dropdown-item" href="#">State 2</a>
      <a class="dropdown-item" href="#">State 3</a>
    </div>
</div> -->

<!-- Charts Div -->
<!-- <canvas id="myChart"></canvas> -->


 <!--Bootstrap JS Files -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <!--GoogleMaps Scripts -->
 <!-- <script src="scripts/googlemaps.js"></script>
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCo0wUE7zqUU_n-8Mofe_EKpCktMLjTmU&callback=initMap"
type="text/javascript"></script> -->
<!-- Charts Scripts-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script> -->
<!-- <script src="scripts/myChart.js"></script> -->

</body>
</html>
